header{
    background-color: rgba(145, 142, 142, 0.945);
    padding: 10px 0;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 10px
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
    height: 100px;
    margin: 0 auto;
}
h1 img{
    width: 200px;
}
.servicos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.servicos img{
    width: 210px;
}

.servicos h2 {
    font-size: 30px;
    font-weight:  bold;
}

.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}