header{
    background-color: gray;
    padding: 20px 0;
}
nav{
    position: absolute;
    top: 40px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
    height: 171px;
    margin: 0 auto;
}
h1 img{
    width: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.servicos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.servicos img{
    width: 210px;
}
.servicos h2 {
    font-size: 30px;
    font-weight:  bold;
}
.descricao{
    font-size: 18px;
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color:chocolate;
    text-decoration: underline;
}
.servicos li:hover {
    border-color:  chocolate;
}
.servicos li:active{
    border-color: blue;
}
.servicos li:hover h2{
    font-size: 34px;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 40px 0;
}
footer img{
    width: 100px;
}
.copyright{
    color:black;
    font-size: 13px;
    margin: 20px 0 0;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
 .input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: rgb(0, 17, 255);
    color: aliceblue;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    animation: rotate 3s linear infinite;

}
.enviar:hover{
    background-color: blueviolet;
    transform: scale(1.2);

}     

    @keyframes rotate {
        0%{
            transform: rotate (0deg);
            border-style: solid;
            border-color: 
        }   
        25%{
            transform: rotate (0deg);
            border-style: solid;
            border-color: blue
        }
        50%{

            transform; rotate (0deg);
            border-style: solid;
            border-color: blue
        }
        75%{
            transform: rotate (0deg);
            border-style: solid;
            border-color: blue
        }
        100%{
            transform: rotate (0deg);
            border-style: solid;
            border-color:blue 
        }
    }       


           
           
        
    
    
